@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");

body {
  margin: 0;
  background-color: #1a1a1a;
  color: rgba(255,255,255,0.87);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.card {
  position: absolute;
  background-position: center;
  background-size: cover;
  box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.6);
}

.card-content {
  position: absolute;
  color: rgba(255,255,255,0.87);
  padding-left: 16px;
}

.content-place {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}

.content-title-1,
.content-title-2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.content-start {
  width: 30px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.87);
}

.details {
  z-index: 22;
  position: absolute;
  top: 240px;
  left: 60px;
}

.details .title-1,
.details .title-2 {
  font-weight: 600;
  font-size: 72px;
  font-family: "Oswald", sans-serif;
}

.details > .desc,
.details > .cta {
  margin-top: 16px;
  max-width: 90%;
}

.details > .cta {
  display: flex;
  align-items: center;
}

.details > .cta > .bookmark,
.details > .cta > .discover {
  border-radius: 50%;
  transition: all 0.3s ease;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
  font-weight: 500;
}

.indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #ecad29;
  z-index: 60;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}
